 <!doctype html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            .nav-link {
    display: block;
    padding: .5rem 1rem;
    font-size: 19px;
    font-style: initial;
}
        </style>
      <title>{% block title%}  {% endblock title %}</title>
    </head>
    <body>

        {% load static %}
<!--         nav bar -->
        <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <img  class='navbar-brand' src="{%static 'logo.jpg' %}" alt="logo" width="50px" height="50px">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active ">
                <a class="nav-link " href="worker">Worker</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="contact1">Contact us</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="about">About us</a>
              </li>

              </ul>
        {% if request.session.msg %}<h5 style="color:white">{{ request.session.msg }}</h5>
              <a class="nav-link" href="logout"><h5>logout</h5></a>
        {% else %}
            <form method="get" action="login">{% csrf_token %}
            <button class="btn btn-outline-primary ml-1" type="submit">Login</button>
            </form>
        {% endif %}
          </div>
        </nav>
        </div>

<!-- end navbar -->
        {% block body %}
        {% endblock body %}
<!--start footer-->
	<footer class="">
        <p class="text-center bg-dark text-white">Copyright @ 2020 All copyright reversed MV developer team </p>
	</footer>
<!--end footer-->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
  </html>